.container {
	position: relative;
}

canvas {
	position: relative;
	border: 1px solid black;
	height: 600px;
	width: 600px;
	background-color: white;
}

/*.circle-pic {
	height: 10px;
	width: 10px;
	background-color: black;
	border-radius: 50%;
	position: absolute;
	top: 60px;
	left: 60px;
}*/
