#start-game{
	position: absolute;
	background-color: white;
}

#clear-button{
	background: radial-gradient(circle at 15px 15px,#ffffff, #000);
	height: 30px;
	width: 30px;
	border-radius: 50%;
	display: block;
	border: 0;
	margin: 0;
	display: none;
	padding: 0;
}
.color1{
	background: radial-gradient(circle at 15px 15px, #0077cc, #000);
	/*background-color: #0077cc;*/
	height: 30px;
	width: 30px;
	border-radius: 50%;
	display: block;
	border: 0;

}

.color2 {
	background: radial-gradient(circle at 15px 15px, #cc0077, #000);
	/*background-color: #cc0077;*/
	height: 30px;
	width: 30px;
	border-radius: 50%;
	display: block;
	border: 0;
}

.color3{
	background: radial-gradient(circle at 15px 15px, #cc5500, #000);
	/*background-color: #cc5500;*/
	height: 30px;
	width: 30px;
	border-radius: 50%;
	display: block;
	border: 0;
}

.color4 {
	background: radial-gradient(circle at 15px 15px, #00cc55, #000);
	height: 30px;
	width: 30px;
	border-radius: 50%;
	display: block;
	border: 0;
}

.stats{
	top: 10px;
	left: 10px;
	position: absolute;
	color: white;
	text-align: center;
	display: none;
	font-family: 'Work Sans', sans-serif;

	
}
#hidden{
	display: none;
	top: 100px;
	left: 45px;
}

.hidden-winner{
	display: none;
	justify-content: center;
}

.level{
	right: 10px;
	top: 10px;
	position: absolute;
	display: none;

}
.container{
	justify-content: center;
	height: 700px;
	width: 800px;
}
.buttons{
	justify-content: center;
	margin: 0;
	padding: 0;
}
.color-buttons{
	justify-content: center;
	position: relative;
	bottom: 400px;
}

body{
	background-color: black;
	text-align: center;
}

div {
	display: inline-block;
	right: 30px;
}
p{
	color: white;
}
